html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #eee 0, #eee 6.17215%, transparent 6.17215%, transparent 8.5298%, #eee 8.5298%, #eee 14.70196%, transparent 14.70196%, transparent 17.05961%, #eee 17.05961%, #eee 23.23176%, transparent 23.23176%, transparent 25.58941%, #eee 25.58941%, #eee 31.76157%, transparent 31.76157%, transparent 34.11922%, #eee 34.11922%, #eee 40.29137%, transparent 40.29137%, transparent 42.64902%, #eee 42.64902%, #eee 48.82117%, transparent 48.82117%, transparent 51.17883%, #eee 51.17883%, #eee 57.35098%, transparent 57.35098%, transparent 59.70863%, #eee 59.70863%, #eee 65.88078%, transparent 65.88078%, transparent 68.23843%, #eee 68.23843%, #eee 74.41059%, transparent 74.41059%, transparent 76.76824%, #eee 76.76824%, #eee 82.94039%, transparent 82.94039%, transparent 85.29804%, #eee 85.29804%, #eee 91.4702%, transparent 91.4702%, transparent 93.82785%, #eee 93.82785%, #eee 100%, transparent 100%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 1200px;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }

@font-face {
  font-family: "abraham-lincoln";
  font-style: normal;
  font-weight: regular;
  src: url("../resources/fonts/AbrahamLincoln.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/AbrahamLincoln.woff2") format("woff2"), url("../resources/fonts/AbrahamLincoln.woff") format("woff"), url("../resources/fonts/AbrahamLincoln.ttf") format("truetype"), url("../resources/fonts/AbrahamLincoln.svg#abraham-lincoln") format("svg"); }
@font-face {
  font-family: "lato-regular";
  font-style: normal;
  font-weight: regular;
  src: url("../resources/fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/Lato-Regular.woff2") format("woff2"), url("../resources/fonts/Lato-Regular.woff") format("woff"), url("../resources/fonts/Lato-Regular.ttf") format("truetype"), url("../resources/fonts/Lato-Regular.svg#lato-regular") format("svg"); }
@font-face {
  font-family: "lato-light";
  font-style: normal;
  font-weight: light;
  src: url("../resources/fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/Lato-Light.woff2") format("woff2"), url("../resources/fonts/Lato-Light.woff") format("woff"), url("../resources/fonts/Lato-Light.ttf") format("truetype"), url("../resources/fonts/Lato-Light.svg#lato-light") format("svg"); }
body {
  margin: 0 0;
  padding: 0 0;
  font-family: 'lato-light', 'Helvetica', sans-serif;
  color: #666666; }
  body ul {
    list-style-type: none; }
  body h2, body h3, body h4 {
    font-family: 'lato-regular', 'Helvetica', sans-serif; }
  body h2 {
    color: #E2B460; }
  body a {
    text-decoration: none;
    color: #666666; }

#hero-header {
  background-image: linear-gradient(rgba(226, 180, 96, 0.4), rgba(226, 180, 96, 0.4)), url("../resources/img/notebook-computer-chill-relax.jpg");
  background-size: cover;
  height: 100vh;
  margin: 0 auto 0 auto;
  padding: 0 auto 0 auto; }
  #hero-header #hero-text {
    padding-top: 25vh;
    text-align: center; }
    #hero-header #hero-text h1 {
      font-family: 'abraham-lincoln', serif;
      font-size: 100px;
      margin-bottom: 0; }
    #hero-header #hero-text h2 {
      font-size: 35px;
      margin-top: 0; }
    #hero-header #hero-text h1, #hero-header #hero-text h2 {
      color: #FFFFFF; }
    #hero-header #hero-text .header-nobreak {
      display: inline-block;
      margin: auto; }
  #hero-header .arrow-down {
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background-color: #FFFFFF;
    position: relative; }
  #hero-header #arrow-down:after {
    content: "";
    position: absolute;
    left: 50%;
    width: 25px;
    height: 25px;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg) translate(-50%);
    transform-origin: left;
    border-style: solid;
    border-color: #FFFFFF; }

#main-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%; }
  #main-content:last-child {
    margin-right: 0; }
  #main-content h2 {
    text-align: center; }

#sticky-nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #EEEEEE; }
  #sticky-nav:last-child {
    margin-right: 0; }
  #sticky-nav #navigation-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%; }
    #sticky-nav #navigation-content:last-child {
      margin-right: 0; }
    #sticky-nav #navigation-content #name-brand {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      font-size: 36px;
      font-family: 'abraham-lincoln', serif;
      margin-top: 20px;
      margin-bottom: 20px; }
      #sticky-nav #navigation-content #name-brand:last-child {
        margin-right: 0; }
    #sticky-nav #navigation-content #nav-links {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%;
      font-size: 14px;
      text-transform: uppercase;
      margin-top: 26px;
      margin-bottom: 26px; }
      #sticky-nav #navigation-content #nav-links:last-child {
        margin-right: 0; }
      #sticky-nav #navigation-content #nav-links ul {
        float: right;
        margin: 0; }
        #sticky-nav #navigation-content #nav-links ul li {
          display: inline;
          padding-left: 15px; }
          #sticky-nav #navigation-content #nav-links ul li a:hover {
            border-bottom: 2px solid #E2B460; }
          #sticky-nav #navigation-content #nav-links ul li a:active {
            border-bottom: 2px solid #E2B460; }
          #sticky-nav #navigation-content #nav-links ul li a.active {
            border-bottom: 2px solid #E2B460; }

#skills-interests {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #skills-interests:last-child {
    margin-right: 0; }
  #skills-interests ul {
    padding: 0; }

#interests {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  text-align: center; }
  #interests:last-child {
    margin-right: 0; }

#technical-skills {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  text-align: center; }
  #technical-skills:last-child {
    margin-right: 0; }

#resume {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #resume:last-child {
    margin-right: 0; }
  #resume #left-col {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #resume #left-col:last-child {
      margin-right: 0; }
    #resume #left-col #education, #resume #left-col #skills, #resume #left-col #references {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      #resume #left-col #education:last-child, #resume #left-col #skills:last-child, #resume #left-col #references:last-child {
        margin-right: 0; }
  #resume #right-col {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #resume #right-col:last-child {
      margin-right: 0; }
    #resume #right-col #work-experience {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      #resume #right-col #work-experience:last-child {
        margin-right: 0; }

footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 25px; }
  footer:last-child {
    margin-right: 0; }
  footer a:hover {
    border-bottom: 1px solid #E2B460; }
  footer #contact-icons .icon {
    max-width: 25px;
    opacity: .2; }
    footer #contact-icons .icon:hover {
      opacity: .5; }

/*# sourceMappingURL=style.css.map */
